<div class="row" style="background-color: white; padding: 25px; margin-bottom: 50px;">
    <h2>Artist Catalogue</h2>
    <p class="text-muted">There are <%= data.length %> artists stored in our database</p>
    <% for( let index=0; index < data.length; index++ ) { %>
        <div>
            <a href="/artists/<%= data[index].artistQuery %>">
                <%= data[index].artistName %>
            </a>
        </div>

        <% } %>
</div>