<div style="background-color: white; padding: 10px;  margin-top: 50px;">
    <h2>Featured articles</h2>
    <% for( let index=0; index < data.length; index++ ) { %>
      <a href="<%= data[index].href %>"><%= data[index].title %>
      </a>
      <% } %>
</div>