<div class="row">
    <div class="col">
        <img src="<%= data.profile_img %>" alt="<%= data.profile_img %>" class="img-fluid" style="width: 250px;" />
    </div>
    <div class="col">
        <h1>
            <%= data.name %>
        </h1>
    </div>
</div>