<nav class="navbar navbar-expand-lg bg-primary">
  <div class="container-fluid">

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" onclick="() => {this.style.boxShadow = 'none'}">
      <span class="navbar-toggler-icon m-3 shadow-none">
        <img src="/icons/view-stacked.svg" alt="stacked icon" />
      </span>
    </button>
    <div class="collapse navbar-collapse mt-4" id="navbarSupportedContent">
      <a class="navbar-brand mb-3" href="/" title="homepage" style="color: white; font-family: Zen Dots; font-weight: bold; font-size: 30px; margin-bottom: 25px; display: block;">
          <img src="/favicon.ico" width="50" height="50" class="d-inline-block align-top" alt="LyricDump logo">
          LyricDump
        </a>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a href="/artists" class="text-center" title="Explore all artists">
            <div class="btn btn-warning" style="max-width: 200px; font-size: 20px;"><img src="/icons/person-circle.svg"
                alt="person icon"  />Artists</div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>