<div style="margin-bottom: 15px; margin-left: -12px;">
    <div style="display: inline-block;">
        <input type="search" class="form-control" id="search_bar" placeholder="Search any artist">
    </div>
    <div style="display: inline-block;">
        <button id="search_btn" style="background-color: white">Search</button>
    </div>
    
    
    <div id="search_results"></div>
    <script>
        let query = "";
        document.getElementById("search_bar").addEventListener("change", (e) => {
            query = e.target.value;
        });
        //SERACH BTN CLICK
        document
            .getElementById("search_btn")
            .addEventListener("click", async () => {

                if (query !== "") {
                    const req = await fetch("/api/search?q=" + query);
                    const data = await req.json();

                    if (data.length === 0) {
                        alert("Could not find results for " + query);
                        document.getElementById("search_results").replaceChildren();
                    } else {
                        for (let index = 0; index < data.length; index++) {
                            let link = document.createElement("a");
                            link.style.display = "block";
                            link.setAttribute("href", "/artists/" + data[index].artist_query);
                            link.innerText = data[index].artistName;
                            document.getElementById("search_results").appendChild(link);
                        }
                    }

                    document.getElementById("search_results").replaceChildren();
                    for (let index = 0; index < data.length; index++) {
                        let link = document.createElement("a");
                        link.style.display = "block";
                        link.setAttribute("href", "/artists/" + data[index].artist_query);
                        link.innerText = data[index].artistName;
                        document.getElementById("search_results").appendChild(link);
                    }
                }


            });

        //ENTER
        document
            .getElementById("search_bar")
            .addEventListener("keypress", async (e) => {
                query = e.target.value;

                if (query !== "") {

                    if (e.key === "Enter") {
                        const req = await fetch("/api/search?q=" + query);
                        const data = await req.json();

                        if (data.length === 0) {
                            alert("Could not find results for " + query);
                            document.getElementById("search_results").replaceChildren();
                        } else {
                            for (let index = 0; index < data.length; index++) {
                                let link = document.createElement("a");
                                link.style.display = "block";
                                link.setAttribute(
                                    "href",
                                    "/artists/" + data[index].artist_query
                                );
                                link.innerText = data[index].artistName;
                                document.getElementById("search_results").appendChild(link);
                            }
                        }

                        document.getElementById("search_results").replaceChildren();
                        for (let index = 0; index < data.length; index++) {
                            let link = document.createElement("a");
                            link.style.display = "block";
                            link.setAttribute("href", "/artists/" + data[index].artist_query);
                            link.innerText = data[index].artistName;
                            document.getElementById("search_results").appendChild(link);
                        }
                    }
                }
            });
    </script>
</div>