<div style="background-color: #ffc107; padding: 25px 200px 25px 0px;">
    <div style='background-color: white; border-radius: 0px 10px 10px 0px;'>
        <img src='/imgs/eminem.png' style="width: 80px; height: 80px; padding: 10px;"/>
        <p style="display: inline;">a;klsjdf;lkasdf</p>
    </div>
</div>