<div style='margin-bottom: 10px;'>

  <input type='text' placeholder="Search any rapper" onkeyup="displaySpinner(); return delaySearch();" id='search-input' style='border: 1px solid black; border-radius: 10px;' class="form-control text-center" role="search" />


  <div id='search-results-div'></div>

  <script>
    const resultsDiv = document.getElementById('search-results-div')
    resultsDiv.style.backgroundColor = 'white'
    resultsDiv.style.padding = '10px'
    resultsDiv.style.marginTop = '3px'
    resultsDiv.style.borderRadius = '10px'

    const spinner = document.createElement('div');
    spinner.setAttribute('class', 'spinner-border text-primary');
    spinner.setAttribute('role', 'status');
    const spinnerMessage = document.createElement('span');
    spinnerMessage.setAttribute('class', 'visually-hidden');
    spinnerMessage.innerText = 'Loading....';
    spinner.appendChild(spinnerMessage);

    document.getElementById('search-input').style.fontSize = '20px'

    var l = false;


    //search function
    async function searchArtist(q) {
      resultsDiv.innerText = '';
      l = false;
      var data = await fetch('/api/search?artist=' + q);
      var artistAdded = new Array();
      data = await data.json();
      if (data.length !== 0) {
        for (var i = 0; i < data.length; ++i) {
          if (artistAdded.indexOf(data[i].item.artist_query) == -1) {
            artistAdded.push(data[i].item.artist_query)
            var link = document.createElement('a');
            link.style.fontSize = '30px'
            link.style.color = '#d63384';
            link.setAttribute('href', '/artists/' + data[i].item.artist_query);
            link.style.textDecoration = 'none';
            link.innerText = data[i].item.artist + '\n';
            resultsDiv.appendChild(link)
          }
        }

      } else {
        resultsDiv.innerText = 'no results :(';
      }

    }
    //debounce function 
    const debounce = (func) => {
      let timer = null;
      return (...args) => {
        clearTimeout(timer);
        timer = setTimeout(() => {
          func.apply(this, args);
        }, 500);
      };
    }
    const delaySearch = debounce(() => {
      searchArtist(document.getElementById('search-input').value)
    })


    function displaySpinner() {
      if (l == false) {
        resultsDiv.innerText = '';
        resultsDiv.appendChild(spinner);
        l = true;
      }


    }
  </script>
</div>