<div style='margin-bottom: 10px;'>

  <input type='text' placeholder="Search any rapper" onkeyup="return delaySearch();" id='search-input' style='width: 300px; margin-top: 10px;' class="form-control text-center" />

  <div id='search-results-div'></div>

  <script>
    const resultsDiv = document.getElementById('search-results-div')
    //search function
    async function searchArtist(q) {

      resultsDiv.innerText = '';
      var data = await fetch('/api/search?artist=' + q);
      var artistAdded = new Array();
      data = await data.json();
      for (var i = 0; i < data.length; ++i) {
        if (artistAdded.indexOf(data[i].item.artist_query) == -1) {
          artistAdded.push(data[i].item.artist_query)
          var link = document.createElement('a');
          link.setAttribute('href', '/artists/' + data[i].item.artist_query);
          link.style.textDecoration = 'none';
          link.innerText = data[i].item.artist + '\n';
          resultsDiv.appendChild(link)
        }
      }
    }
    //debounce function 
    const debounce = (func) => {
      let timer = null;
      return (...args) => {
        clearTimeout(timer);
        timer = setTimeout(() => {
          func.apply(this, args);
        }, 700);
      };
    }
    const delaySearch = debounce(() => {
      searchArtist(document.getElementById('search-input').value)
    })
  </script>
</div>