#lyric_parent_div {
  text-align: left;
  padding: 5px;
}

.lyric-div span {
  color: lightgray;
  font-style: italic;
  margin-left: 10px;
}

.lyric-div img {
  margin-right: 7px;
}

.lyric-div {
  background-color: #4f5c5d;
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 5px;
}

#profile_img {
  height: 400px;
  width: 400px;
  border-radius: 10px;
}

.related-artist img {
  width: 75px;
}
.related-artist span {
  display: block;
  margin-top: 10px;
}

#artist_description {
  max-width: 800px;
  margin: auto;
}

.explanation-text {
  display: block;
  font-weight: 900;
}

#related_artists_div {
  display: flex;
  justify-content: space-around;
}

#related_artists_div a {
  text-decoration: none;
  color: inherit;
}

@media only screen and (max-width: 750px) {
  #profile_img {
    height: 200px;
    width: 200px;
  }
}
