#lyric_parent_div {
  text-align: left;
  padding: 5px;
}

.lyric-div img {
  margin-right: 7px;
}

.lyric-metadata {
  color: lightgray;
  font-style: italic;
}

.lyric-div {
  background-color: #4f5c5d;
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 5px 5px 5px 15px;
}

#profile_img {
  height: 400px;
  width: 400px;
  border-radius: 10px;
}

#related_artists_parent_div {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#related_artists_parent_div div {
  margin: 10px;
}

#related_artists_parent_div img {
  width: 75px;
  height: 75px;
  margin-bottom: 10px;
}

#related_artists_parent_div span {
  display: block;
}

#artist_description {
  max-width: 800px;
  margin: auto;
}

.explanation-text {
  display: block;
  font-weight: 900;
}

@media only screen and (max-width: 750px) {
  #profile_img {
    height: 200px;
    width: 200px;
  }
}
