@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@media (min-width: 1px) {
  ::-webkit-scrollbar {
    display: none;
  }

  html,
  body,
  main {
    width: 100%;
    min-height: 100vh;
    position: relative;
    background: white;
  }

  * {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    color: black;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
    line-height: 1.8;
  }

  h1 {
    font-size: clamp(2rem, 4vw, 3rem);
    font-weight: 600;
    line-height: 1.4;
  }

  h2 {
    font-size: clamp(3rem, 4vw, 4rem);
    font-weight: 800;
    line-height: 1.4;
  }

  a,
  button {
    all: unset;
    text-decoration: none;
    font-size: .9rem;
    line-height: 1;
    opacity: 1;
    font-weight: 600;
    cursor: pointer;
    transition: 150ms linear;
  }

  a:hover,
  button:hover {
    opacity: 0.4;
  }

  /* nav {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 2.5rem;
    background-color: black;
    z-index: 2;

    a {
      color: white;
    }
  }

  .nav-holder {
    display: flex;
    justify-content: center;
    width: 95%;
  }

  .nav-sub {
    display: none;
  } */

}

/* @media (min-width: 799px) {
  .nav-holder {
    display: flex;
    justify-content: space-between;
    width: 95%;
  }

  .nav-sub {
    display: flex;
    align-items: center;
    gap: 2rem;
  }
} */