@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@media (min-width: 1px) {
  ::-webkit-scrollbar {
    display: none;
  }

  html,
  body,
  main {
    width: 100%;
    min-height: 100vh;
    position: relative;
    background: white;
  }

  * {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
    line-height: 1.8;
  }

  h1 {
    font-size: clamp(2rem, 4vw, 3rem);
    font-weight: 600;
    line-height: 1.4;
  }

  a {
    text-decoration: none;
    font-size: .9rem;
    line-height: 1;
    opacity: 1;
    transition: 150ms linear;
  }

  a:hover {
    opacity: 0.4;
  }

  nav {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 3.5rem;
    background-color: rgb(97, 97, 109);
    z-index: 2;

    /* span {
      font-size: 1.25rem;
      font-weight: 600;
    } */
  }

  .nav-holder {
    display: flex;
    justify-content: center;
    width: 95%;
  }

  .nav-sub {
    display: none;
  }

}

@media (min-width: 799px) {
  .nav-holder {
    display: flex;
    justify-content: space-between;
    width: 95%;
  }

  .nav-sub {
    display: flex;
    align-items: center;
    gap: 2rem;
  }
}


#container {
  max-width: 1500px;
  margin: auto;
  padding: 0px 10% 0px 10%;
}


.navbar a {
  font-weight: 400;
  text-decoration: none;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

.navbar .right-link {
  float: right;
}

.search-results {
  display: block;
  color: inherit;
}

a {
  color: inherit;
}

@media only screen and (max-width: 750px) {
  #container {
    padding: 10%;
  }

  .navbar .right-link {
    float: left;
  }
}