@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@media (min-width: 1px) {
  ::-webkit-scrollbar {
    display: none;
  }

  html,
  body,
  main {
    width: 100%;
    min-height: 100vh;
    position: relative;
    background: white;
  }

  * {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
    line-height: 1.6;
  }

  h1 {
    font-size: 3rem;
    font-weight: 600;
  }

  a {
    text-decoration: none;
  }

  nav {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    top: 1rem;
  }

  .nav-holder {
    display: flex;
    justify-content: space-between;
    width: 95%;
  }

  .nav-right {
    display: flex;
    gap: 2rem;
  }

}


#container {
  max-width: 1500px;
  margin: auto;
  padding: 0px 10% 0px 10%;
}


.navbar a {
  font-weight: 400;
  text-decoration: none;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

.navbar .right-link {
  float: right;
}

.search-results {
  display: block;
  color: inherit;
}

a {
  color: inherit;
}

@media only screen and (max-width: 750px) {
  #container {
    padding: 10%;
  }

  .navbar .right-link {
    float: left;
  }
}