h2 {
  font-weight: 900;
}

.lyric-display-div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.lyric-display-div a {
  border: 5px solid #1a2c2e;
  padding: 10px;
  border-radius: 10px;
  width: 400px;
  margin: 5px;
  text-decoration: none;
  color: inherit;
  background-color: #4f5c5d;
}

.lyric-display-div p {
  margin-bottom: 0px;
}

.lyric-display-div img {
  width: 50px;
  height: 50px;
  border-radius: 10px;
}

.lyric-display-div span {
  margin-top: 15px;
}

.lyric-songandyear {
  margin-top: 3px;
  display: block;
  color: white;
  font-size: 14px;
  font-style: italic;
}

#top_artist_div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

#top_artist_div a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
  margin: 20px;
}

#top_artist_div img {
  width: 100px;
  border-radius: 10px;
}

.recent-lyric {
  text-decoration: none;
  color: inherit;
  width: fit-content;
  display: block;
}

#banner_text {
  text-align: center;
  max-width: 900px;
  margin: auto;
}

#recent_lyrics_div a {
  max-width: 600px;
}

#popular_artists_div {
  background-color: #4f5c5d;
  padding: 10px;
  border: 5px solid #1a2c2e;
  border-radius: 10px;
  margin-top: 50px;
}

#homepage_search_input {
  width: 600px;
  border-radius: 9px;
  margin-top: 90px;
  margin-bottom: 30px;
  font-size: 20px;
  padding: 5px;
}

#search_results {
  font-weight: 900;
}

@media only screen and (max-width: 670px) {
  #homepage-display-btns-parent {
    display: flex;
    flex-direction: column;
  }
  #homepage-display-btns-parent div {
    margin-top: 10px;
  }
}

@media only screen and (max-width: 1096px) {
  #top_artist_div {
    margin-top: 10px;
  }

  #recent_lyrics_div {
    margin-top: 50px;
  }
}

@media only screen and (max-width: 1116px) {
  .lyric-display-div a {
    width: 100%;
    font-size: 20px;
  }

  #homepage_search_input {
    width: 75vw;
  }

  #top_artist_div img {
    width: 75px;
  }
}

.homepage-display-btn {
  background-color: darksalmon;
  padding: 10px;
  font-weight: 700;
  font-size: 20px;
  border-radius: 10px;
}
.homepage-display-btn a {
  text-decoration: none;
}
